{% extends 'main.html'%}

{% block content %}
    <div class="div-container2"> 
        
        <div class="div-post">
            <!--Owners Info-->
            <div class="profile">
                <div class="profile-first-div">
                    <div class="user-infomation">
                        <img class="user-image" src="{{account.profile_image.url}}">
                        <h4>{{account.name}}</h4>
                        <h5>({{account.username}})</h5>
                        <a href="{% url 'edit-profile' %}"> -Edit Profile- </a>
                    </div>
                </div>
                <div class="other-info">
                    {% if account.email %}
                        <p>Email: <small>{{account.email}}</small></p>
                    {% endif %}

                    {% if account.location %}
                        <p>Location: <small>{{account.location}}</small></p>
                    {% endif%}

                    {% if account.bio %}
                        <p>Bio: <small>{{account.bio}}</small></p>
                    {% endif %}
                </div>
            </div>
            <!--Owners Posts-->
            <div class="my-post">
                <div class="heading">
                    <h4>POSTS ({{mypost.count}})</h4>
                </div>
                {% if mypost %}
                {% for compose in mypost %}
                    <div class="compose">
                        <!--Post owner Info-->
                        <div class="compose-owner">
                            {% if request.user == compose.owner %}<a href="{% url 'profile' %}" class="user-link">{% else %}<a href="{% url 'user-account' compose.owner.id %}" class="user-link">{% endif %}
                                <div class="div-img"><img src="{{compose.owner.profile_image.url}}"></div>

                            <diV class="user-info">
                                <span class="span-strong">{{compose.owner.username}}</span>
                                <span class="span-light">{{compose.owner.name}}</span>
                            </diV></a>
                            <div class="compose-link">
                                <div>
                                    {% if compose.main_post %}
                                        <a href="{% url 'single_post' compose.id %}"><p> 
                                            {% if compose in compose.main_post.reposted %}
                                                {% if compose.main_post.owner == compose.owner %}
                                                    reposted
                                                {% else %}
                                                    repost {{compose.main_post.owner.name}} post
                                                {% endif %}
                                            {% else %}
                                                {% if compose.owner != compose.main_post.owner %}
                                                    comment on {{compose.main_post.owner.name}}
                                                    {% if compose.main_post not in compose.main_post.main_post.reposted.all %}
                                                    post
                                                    {% else %}
                                                    repost
                                                    {% endif %}
                                                {% else %}
                                                    comment on their post
                                                {% endif %}
                                            {% endif %}
                                            {{compose.created|timesince}} ago</p></a>
                                    {% else %}
                                        <p>posted {{compose.created|timesince}} ago</p>
                                    {% endif %}
                                </div>
                                {% if compose.owner == request.user %}
                                    <form method="POST" action="{% url 'deletepost' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{compose.pk}}" name="pk">
                                        <button class="btn-danger">x</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <!--End of Post owner info-->

                        <!--Reacted Post-->
                        {% if compose.main_post %}
                            {% if request.user not in compose.main_post.blocked_users.all %}
                                {% if request.user not in compose.main_post.owner.blocked.all %}
                                    {% if compose.main_post.owner not in request.user.blocked.all %}
                                        {% if compose.main_post.post_body or compose.main_post.post_image %}
                                            <div class="main-post">
                                                <a href="{% url 'single_post' compose.main_post.id %}">
                                                    <div class="div-img"><img src="{{compose.main_post.owner.profile_image.url}}"></div>
                                                    <diV class="user-info">
                                                        <span class="span-strong">{{compose.main_post.owner.username}}</span>
                                                        <span class="span-light">{{compose.main_post.owner.name}}</span>
                                                    </diV>
                                                    {{compose.main_post.post_body}}
                                                    {% if compose.main_post.post_image %}
                                                        <img class="compose-image" src="{{compose.main_post.post_image.url}}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="main-post">
                                                <a href="{% url 'single_post' compose.main_post.id %}">
                                                    <div class="div-img"><img src="{{compose.main_post.main_post.owner.profile_image.url}}"></div>
                                                    <diV class="user-info">
                                                        <span class="span-strong">{{compose.main_post.main_post.owner.username}}</span>
                                                        <span class="span-light">{{compose.main_post.main_post.owner.name}}</span>
                                                    </diV>
                                                    {{compose.main_post.main_post.post_body}}
                                                    {% if compose.main_post.main_post.post_image %}
                                                        <img class="compose-image" src="{{compose.main_post.main_post.post_image.url}}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="main-post">
                                                        <p>Unblock {{compose.main_post.owner.name}} to view post</p>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="main-post">
                                                <p>You can't view this post at the momment</p>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="main-post">
                                        <p>You can't view this post at the momment</p>
                                </div>
                            {% endif %}
                        {% endif %}
                        <!--End Reacted Post-->
                        
                        <!--Post Body-->
                        <div class="compose-body">
                            <div class="post-body">
                                <a href="{% url 'single_post' compose.id %}">
                                    {% if compose.post_body %}
                                        <p>{{compose.post_body}}</p>
                                    {% endif %}
                                    {% if compose.post_image %}
                                        <img class="compose-image" src="{{compose.post_image.url}}">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <!--End of post Body-->

                        <!---Comment post-->
                        <div class="div-comment">
                            <form method="POST" action="{% url 'comment' compose.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                {% for field in commentform %}
                                <div class="div-posty">
                                    
                                    <label for="formInput#text">{{field.label}}</label>
                                    {{field}}
                                    {{field.errors}}
                                    <span class="span-light">{{field.errors}}</span>
                                </div>
                                {% endfor %}
                            
                                <button type="submit" name="btn_comment" value="submit"> <span class="span-light">
                                    Comment | {{compose.comments.all.count}}</span></button>
                            </form>
                        </div>
                        <!---End of Comment Post-->


                        <div class="compose-action">
                            <!---Repost Link-->
                            {% if compose in compose.main_post.reposted %}

                                {% if request.user.id not in compose.main_post.reposters %}
                                    <a href="{% url 'repost' compose.main_post.id %}" type="submit" class="btn">
                                        <span class="span-light">Repost | {{compose.main_post.reposts.count}} </span></a>
                            
                                {% else %}
                                    <form method="POST" action="{% url 'delete-repost' compose.main_post.id %}">
                                        {% csrf_token %}
                                
                                        <button class="btn"> <span class="span-light">
                                            Undorepost | {{compose.main_post.reposts.count}} </span></button>
                                    </form>
                                {% endif %}

                            {% else %}
                                {% if request.user.id not in compose.reposters %}
                                    <a href="{% url 'repost' compose.id %}" type="submit" class="btn">
                                        <span class="span-light">Repost | {{compose.reposts.count}} </span></a>
                                    
                                {% else %}
                                    <form method="POST" action="{% url 'delete-repost' compose.id %}">
                                        {% csrf_token %}
                                
                                        <button class="btn"> <span class="span-light">
                                            Undorepost | {{compose.reposts.count}} </span></button>
                                    </form>
                                {% endif %}
                            {% endif %}
                            <!---End of Repost Link-->

                            <!--Like Button-->
                            {% if request.user.id not in compose.likers %}
                                <form method="POST" action="{% url 'likepostprofile' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{compose.pk}}" name="pk">

                                    <button class="btn"> <span>Like | {{compose.likedpost_set.all.count}}</span></button>
                                </form>
                            {% else %}
                                <form method="POST" action="{% url 'unlikepostprofile' compose.id %}">
                                    {% csrf_token %}

                                    <button class="btn"><span>Unlike | {{compose.likedpost_set.all.count}}</span></button>
                                </form>
                            {% endif %}
                            <!---End of Like Button-->
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <p>You have no post click <a href="{% url 'home' %}">here</a> to create one</p>
                {% endif %}
                
            </div>
            <!--End Owners Post-->
        </div>
        <!--End Owners info-->
        <div class="div-users">

            <!--Friends-->
            <div class="heading">
                <h4>Friends({{friends.count}})</h4>
            </div>
            {% if friends %}
                {% for userlist in friends %}
                    <div class="user-list">
                        <div class="div-img">
                            <a href="{% url 'user-account' userlist.id %}" class="user-link">
                                {% if userlist.online == True %}
                                <img class="online" src="{{userlist.profile_image.url}}">
                                {% else %}
                                    <img class="offline" src="{{userlist.profile_image.url}}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="friend-accept">
                            <div class="form-action">
                                <a href="{% url 'user-account' userlist.id %}" class="user-link">
                                    <h4>{{userlist.name}}</h4></a>
                                <form method="POST" action="{% url 'unfriend' userlist.id %}">
                                    {% csrf_token %}
            
                                    <button class="btn btn-userlist"><span>Unfriend</span></button>
                                </form>
                                <a class="btn-userlist user-link" href="{% url 'message' userlist.id %}"><span>Message</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <p>You have no friend click <a href="{% url 'userslist' %}">here</a> to add one</p>
            {% endif %}
        </div>
        <!--End Friends-->
    </div>


{% endblock content %}
