{% extends 'main.html' %}


{% block content %}

<div class="container px-6 justify-center mt-10 mx-auto flex">
    <div class="flex flex-col p-3 border-2 border-darkBlue w-full md:w-1/2">
        <!--Request-->
        <div class="border-2 border-darkBlue py-3 px-5 mb-3 ">
            <h4 class="text-center font-bold">Password Reset Sent</h4>
        </div>
        <p class="p-3">We’ve emailed you instructions for setting your password,
             if an account exists with the email you entered. You should receive them shortly.</p>
        <P class="p-3">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

        </P>
        
    </div>
</div>

{% endblock content %}